@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/container";

.bg-gray-300{
    background-color: #dee2e6!important;
}
td.bg-gray-300{
    border-bottom: 1px solid black!important;
}
.sl-spinner3{
    position: absolute;
    left: 50%;
    top: 45%;
}
.sl-circle{
    --bg: #fff!important;
    --border: #4b4a4a!important;
}
.item
{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 99999;
}
video{
    transform: rotate(270deg); 
}
label{
    font-weight: 600;
}
table > thead{
    background-color: aliceblue!important;
}
.table-bordered td{
  height: 10px!important;
  padding: 3px 10px 3px 10px!important;
}
.dropdown-item:active, .dropdown-item a:active{
    background-color: blue!important;
	color:white!important
}
.light-theme.dropdown-item:hover{
    background-color: lightgray;
}

.card-custom-header{
	background:linear-gradient(45deg, #ffff8f, #ff7800);
	border-bottom: 2px solid white!important;
}
.light-theme{
	background-color: #fff!important;
}
.navbar-light{
	background-color: #e7e7f9!important;
}
.dark-theme{
	background-color: #35363b;
	a.dropdown-item, a.nav-link, .card-title, h3{
		color: #fff!important;
	} 
	.navbar{
		background-color:#d1e3e7!important
	}
}
.navbar{ 
    border-bottom:1px solid black
}
.card-header{
    background-color: #c2d1d5!important;
}
.dark .card-body, .dark .card-footer {
    // background-color:#c5c6cd!important;
    // label, span, b, p, .card-text, .card-title, .apexcharts-text{
    //     color: white;
    // }
    table{
        border: 1px solid black;
    }
    .card-header b, p{
        color: black;
    }
}
.card{
    border:1px solid lightgray;
}
.card-header{
    border-bottom: 1px solid;
} 
/**/
:root {
--main-color: #eaeaea;
--stroke-color: black;
}
h1 {
margin: 100px auto 0 auto;
color: var(--stroke-color);
font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
font-size: 10rem; line-height: 10rem;
font-weight: 200;
text-align: center;
}
h2 {
margin: 20px auto 30px auto;
font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
font-size: 1.5rem;
font-weight: 200;
text-align: center;
}
h1, h2 {
-webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
transition: opacity 0.5s linear, margin-top 0.5s linear;
}
.loading h1, .loading h2 {
margin-top: 0px;
opacity: 0;  
}
.gears {
position: relative;
margin: 0 auto;
width: auto; height: 0;
}
.gear {
position: relative;
z-index: 0;
width: 120px; height: 120px;
margin: 0 auto;
border-radius: 50%;
background: var(--stroke-color);
}
.gear:before{
position: absolute; left: 5px; top: 5px; right: 5px; bottom: 5px;
z-index: 2;
content: "";
border-radius: 50%;
background: var(--main-color);
}
.gear:after {
position: absolute; left: 25px; top: 25px;
z-index: 3;
content: "";
width: 70px; height: 70px;
border-radius: 50%;
border: 5px solid var(--stroke-color);
box-sizing: border-box;
background: var(--main-color);
}
.gear.one {
    left: -130px;
}
.gear.two {
    top: -75px;
}
.gear.three {
    top: -235px;
    left: 130px;
}
.gear .bar {
    position: absolute; left: -15px; top: 50%;
    z-index: 0;
    width: 150px; height: 30px;
    margin-top: -15px;
    border-radius: 5px;
    background: var(--stroke-color);
}
.gear .bar:before {
    position: absolute; left: 5px; top: 5px; right: 5px; bottom: 5px;
    z-index: 1;
    content: "";
    border-radius: 2px;
    background: var(--main-color);
}
.gear .bar:nth-child(2) {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}
.gear .bar:nth-child(3) {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}
@-webkit-keyframes clockwise {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@-webkit-keyframes anticlockwise {
    0% { -webkit-transform: rotate(360deg);}
    100% { -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes clockwiseError {
    0% { -webkit-transform: rotate(0deg);}
    20% { -webkit-transform: rotate(30deg);}
    40% { -webkit-transform: rotate(25deg);}
    60% { -webkit-transform: rotate(30deg);}
    100% { -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes anticlockwiseErrorStop {
    0% { -webkit-transform: rotate(0deg);}
    20% { -webkit-transform: rotate(-30deg);}
    60% { -webkit-transform: rotate(-30deg);}
    100% { -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes anticlockwiseError {
    0% { -webkit-transform: rotate(0deg);}
    20% { -webkit-transform: rotate(-30deg);}
    40% { -webkit-transform: rotate(-25deg);}
    60% { -webkit-transform: rotate(-30deg);}
    100% { -webkit-transform: rotate(0deg);}
}
.gear.one {
    -webkit-animation: anticlockwiseErrorStop 2s linear infinite;
}
.gear.two {
    -webkit-animation: anticlockwiseError 2s linear infinite;
}
.gear.three {
    -webkit-animation: clockwiseError 2s linear infinite;
}
.loading .gear.one, .loading .gear.three {
    -webkit-animation: clockwise 3s linear infinite;
}
.loading .gear.two {
    -webkit-animation: anticlockwise 3s linear infinite;
}
.placeholder-error::placeholder {
    color: red; /* Change the color of the placeholder text */
    font-style: italic; /* Make the placeholder text italic */
    opacity: 1; /* Set opacity to 1 to ensure color visibility */
}
.shadow-none.card{
    width: 100%!important;
    border: none;
    background-color: transparent;
}
.ledger-revise table tr td:nth-child(odd){
    width: 210px;    
}
.table-gold tr{ 
    font-weight: 600;
    background:linear-gradient(0.75turn, #ffe599, #f69d3c, #ebf8e1);
}
table {
    font-size:smaller!important;
}
.dashboard-card a {
    font-size: smaller!important;
}
.img-icon{
    height: 25px!important;
    width: 25px!important;
}
.selected {
    background-color:#bbd1c7!important;
}
.loginID{
    background-color:#00b8ff!important;
}
.ribbon {
    position: relative;
    display: inline-block;
    padding: 2px;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.ribbon:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red;
    transform: translateX(-50%);
}

.ribbon i {
    position: relative;
    z-index: 1;
}
.formBtns {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.btn-success {
    background-color: #738f5d!important;
    border-color: #738f5d!important;
}
.btn-success:hover {
    background-color: #485d37!important;
}
.btn-primary, .bg-primary {
    background-color: #3580e8!important;
    border-color:#3580e8!important;
}
.btn-primary:hover {
    background-color: #0e42d3!important;
}
td button {
    border-radius: 2px!important;
}
.resubmit {
    background-color: #912e39; 
    border-color: #cf8f96;
}
.resubmit:hover {
    background-color: #cf8f96;
}
.reviewList td {
    background-color: #efbca5!important;
}
.action-btn {
    border: 1px dashed;
    border-radius: 3px;
}
.action-btn:nth-child(even) {
    margin-left: 5px;
}
.action-btn:hover {
    background-color: #bbd1c7;
}
 
.pdf {font-weight: 600;}
.pdf body { margin: 20px 120px; }
.pdf .d-flex{ display: flex;}
.pdf .center {font-family: sans-serif;}
.pdf table { border-collapse: collapse;width: 80%;margin-left: 10%; }
.pdf .header-table td, .pdf .header-table th { border: 2px solid black;text-align: center;padding: 0px;height:40px;font-weight: 600; }
.pdf table div {font-size: 15px;}
.pdf .head { margin-bottom: 20px;margin-top: 80px; }
.pdf .left { text-align: left;padding-left: 10px; }
.pdf .header-table { width:70%;padding:8px; }
.pdf .header-table table{ margin-top: 15px; }
.pdf .header-ends { width:15%; border:2px solid; padding:8px; }
.pdf .header-ends:last-of-type{display:flex;justify-content:center;align-items:center;}
.pdf .blocks { display: flex; margin-top:16%; margin-left:5%; }
.pdf .cell {border:2px solid black; height:15px; width:15px;margin-left: 6px;margin-top: 3px; }
.pdf .header-table table tr td:nth-child(even){ width:10%;width:120px }
.pdf .header-table table tr td:nth-child(odd){ border:0px }
.pdf .box { height:auto;min-height:250px; width:50%; border: 2px solid; }
.pdf .box:first-child .text-row {margin: 30px 40px}
.pdf .raw:nth-child(2) .box:nth-child(2) .text-row {margin:25px 40px}
.pdf .raw:first-child .box:nth-child(2) .text-row {margin:40px 60px}
.pdf .raw { margin-top: 5%; display: flex; width:80%;margin-left: 10%; }
.pdf .raw:nth-child(even){ margin-top: 40px; }
.pdf .box:nth-child(even){ margin-left: 5%; }
.pdf .text-row{display:flex;justify-content:space-between}
.pdf .box-input {float:right;border-bottom:2px dashed;min-width:220px;max-width:300px;}
.pdf .footer-table, .second-last-table, .Opera { margin-top:40px; }
.pdf .footer-table td,.second-last-table td{ border:2px solid; }
.pdf .footer-table tr:first-child{ height:90px; }
.pdf .footer-table td .span { width: 50%;margin-left:10px }
.pdf .footer-table tr:last-child td {padding:6px}
.pdf .footer-table:nth-child(2) td {padding:12px}
.pdf .Opera {border:2px solid;width:35%;border-left:0px}
.pdf .second-last-table {width:65%;}
.pdf .second-last-table td {width:20%;padding: 14px;}
.pdf .second-last-table:last-child {margin-bottom: 15px;}
.pdf .header-table table tr:first-child td:nth-child(6) {width:50px!important}
.pdf .table-last {margin-top:30px;border:2px solid;font-size: 15px;}
.pdf .table-last td{padding:15px; font-size: 14px;}
.pdf .table-item {height:50%;padding: 15px;}
.pdf .page2{ margin-top:340px }
.ledger-table td .d-flex div, th .d-flex div {
    width:100px;
    place-content: center;
    text-align: center;
}
.ledger-table td .d-flex div:not(:last-child), th .d-flex div:not(:last-child) {
    border-right: 1px solid ;
}
.ledger-table td .d-flex div:first-child, th .d-flex div:first-child {
    width:80px
}
.ledger-revise td .d-flex input {
    border: 0.5px solid;
}
.hinting {
    min-height: 50px;
    width: auto;
    min-width: 100px;
    position: fixed;
    z-index: 999;
    background-color: burlywood;
    border-radius: 10px;
    padding: 15px;
    right: 0;
}
.fa-circle-question {
    cursor: pointer!important;
}